<div class="af-stadsomradesvaljare">
    <div class="env-form">
        <div class="env-form-element">
            <label for="adress" class="env-form-element__label af-hidden">Adress</label>
            <div class="env-form-element__control">
                <input type="text" placeholder="Ange adress" class="env-form-input" name="adress">
            </div>
        </div>
        <div class="af-stadsomradesvaljare-result">
            <ul class="af-stadsomradesvaljare-resultList">

            </ul>
        </div>
        <div class="af-stadsomradesvaljare-details">

        </div>
    </div>
</div>