.af-hidden {
    display: none !important;
}

.af-stadsomradesvaljare-result {
    display: none;
}

.af-stadsomradesvaljare-result {
    border: 1px solid #cecece;
    padding: 5px;
    width: 270px;
}

.af-stadsomradesvaljare-resultList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.af-stadsomradesvaljare-resultList--item:hover {
    cursor: pointer;
    background-color: #f5f5dc;
}